* {
	margin: 0;
	paddinhg: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container-fluid {
	width: auto;
	height: 100vh;
	background: linear-gradient(90deg, #0CBABA 0%, #380036 100%);

}

.container-fluid h1 {
	font-size: 40px;
	font-weight: 600;
}

span {
	color:  #03fc7f;
}

.front-bg {
	background: linear-gradient(90deg, #0CBABA 0%, #380036 100%);
}


